
@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@model LW_Web.Models.Reportsmodel


<!-- Start Content-->
<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item active">Export</li>
                    </ol>
                </div>
                <h4 class="page-title">Export Reports</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <!-- SORTLY -->
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Export and Download</h4>
                <p class="text-muted font-14">Choose dates and download file.</p>

                @Html.Raw(ViewBag.Message)

                @Html.Raw(Model.Error_log)

                @using (Html.BeginForm("Reports", "Reports", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
                {
                    <div class="row mb-3">
                        <div class="col">
                            @Html.LabelFor(m => m.StartDate)
                            @Html.TextBox("StartDate", Model.StartDate, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            @Html.LabelFor(m => m.EndDate)
                            @Html.TextBox("EndDate", Model.EndDate, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-2">
                            <button type="submit" id="btnExport" class="btn btn-primary">Download</button>
                        </div>
                    </div>
                }
            </div> <!-- end card-body -->
        </div>  <!-- end card -->
    </div>
    <!-- end col -->
