
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@model LW_Web.Models.ImportFilesModel


<!-- Start Content-->
<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <h4 class="page-title" style="color:darkcyan">IMPORT FILES</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Most Recent Loads</h4>
                    <table class="dateLoadTable">
                        <tr><td><strong>ADP: </strong></td><td>@Html.Raw(Model.ADPDateRangeLoaded)</td><td><strong>Sortly: </strong></td><td>@Html.Raw(Model.SortlyDateRangeLoaded)</td><td><strong>(1) Yardi WO: </strong></td><td>@Html.Raw(Model.YardiWODateRangeLoaded)</td></tr>
                        <tr><td><strong>(2) Yardi PO: </strong></td><td>@Html.Raw(Model.YardiPODateRangeLoaded)</td><td><strong>(3) Yardi WO Inv: </strong></td><td>@Html.Raw(Model.YardiWO2DateRangeLoaded)</td><td><strong>(4) Yardi PO Inv: </strong></td><td>@Html.Raw(Model.YardiPO2DateRangeLoaded)</td></tr>
                        <tr><td><strong>(5) Yardi WO General: </strong></td><td>@Html.Raw(Model.YardiWOGeneralDateRangeLoaded)</td><td>&nbsp;</td><td>&nbsp;</td></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <!-- IMPORT FILES -->
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">File Selection and Import</h4>
                    <p class="text-muted font-14">Choose a File Type and upload your file. Keep this window open until the import is complete.</p>

                    @Html.Raw(ViewBag.Message)

                    @Html.Raw(Model.Error_log)

                    @using (Html.BeginForm("ImportFile", "Import", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
                    {
                        <div class="row mb-3">
                            <div class="col">
                                @Html.DropDownList("SelectedFile", Model.ImportFileList, "Choose File Type")
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col">
                                @Html.TextBoxFor(m => m.UploadedFile, new { type = "file", name = "UploadedFile", @class = "form-control" })   <!--("file", Model.UploadedFile, new { type = "file" and comma form-control }) -->
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-4">
                                <button type="submit" id="btnUpload" class="btn btn-primary w-100">Upload</button>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-12">
                                <span id="counterMsg"></span>
                            </div>
                        </div>
                    }
                </div> <!-- end card-body -->
            </div>  <!-- end card -->
        </div>
        <!-- end col -->
        <!-- MAINTENANCE -->
        <div class="col-6">

            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">INSTRUCTIONS</h4>
                    <p>Quick Access to SQL Queries to run in Yardi. To insure your uploads will work and stay up to date pull the SQL Queries from here.</p>
                    <p><a href="~/Documents/LW Portal User Manual - vsn250203.pdf" target="_blank">User Manual</a> (Updated 02/03/2025)</p>
                    <ul>
                        <li><a href="~/_YardiExportSQL/01 - WO List.txt" target="_blank">01 - WO List</a></li>
                        <li><a href="~/_YardiExportSQL/02 - PO List.txt" target="_blank">02 - PO List</a></li>
                        <li><a href="~/_YardiExportSQL/03 - WO Inventory List.txt" target="_blank">03 - WO Inventory List</a></li>
                        <li><a href="~/_YardiExportSQL/04 - PO Inventory List.txt" target="_blank">04 - PO Inventory List</a></li>
                        <li><a href="~/_YardiExportSQL/05 - WorkOrderGeneral.txt" target="_blank">05 - WorkOrderGeneral</a></li>
                        <li><a href="https://app.sortly.com/reports/inventory-summary" target="_blank">Sortly Inventory</a></li>
                    </ul>
                </div> <!-- end card-body -->
            </div>  <!-- end card -->

        </div>
        <!-- end col -->
    </div>
</div>

<script type="text/javascript" src="~/assets/js-custom/importFilePage.js"></script>






