
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@model List<LW_Data.clsLaborerRecord>


<!-- Start Content-->
<div class="container-fluid">

    <div class="row">

        <div class="col-12">

            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Laborers</h4>

                    <a href="@Url.Action("Create", "Laborer")" class="btn btn-success mb-3">+ Add New Laborer</a>

                    <table class="table table-striped table-responsive table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Last Name</th>
                                <th>First Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @using LW_Security

                            @foreach (var record in Model)
                            {
                                <tr data-id="@record.LaborerID">
                                    <td nowrap class="p-1">@record.LastName</td>
                                    <td nowrap class="p-1">@record.FirstName</td>
                                    <td nowrap class="p-1">@Html.Raw(clsSecurity.isUserAdmin() ? $"<a href=\"/Laborer/Edit/{record.LaborerID}\">Edit</a>" : "Edit")</td>
                                </tr>
                             }
                        </tbody>
                    </table>

                </div> <!-- end card-body -->
            </div>  <!-- end card -->

        </div>
        <!-- end col -->

    </div>
</div>






